@mixin invisible {
  opacity: 0;
  visibility: hidden;
  transition: 0.15s ease-in-out;
}
@mixin visible {
  opacity: 1;
  visibility: visible;
}
@mixin centerX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin centerY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
