*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
}
button {
  font-family: inherit;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;
}
input {
  background-color: transparent;
  border: 0;
}
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
address {
  margin: 0;
  font-style: normal;
}
