.bage {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 12px;
  // font-weight: 500;

  &.square {
    justify-content: center;
  }
}

.xxsBage {
  height: 16px;
  border-radius: var(--rounded-sm);
  font-size: var(--fz-xs);

  &:not(.square) {
    padding-inline: 4px;
  }

  &.square {
    width: 20px;
  }
}

.xsBage {
  height: 20px;
  border-radius: var(--rounded-sm);
  font-size: var(--fz-sm);

  &:not(.square) {
    padding-inline: 4px;
  }

  &.square {
    width: 20px;
  }
}

.smBage {
  height: 24px;
  border-radius: var(--rounded-sm);
  font-size: var(--fz-sm);

  &:not(.square) {
    padding-inline: 4px;
  }

  &.square {
    width: 24px;
  }
}

.mdBage {
  height: 28px;
  border-radius: var(--rounded-md);
  font-size: var(--fz-md);

  &:not(.square) {
    padding-inline: 8px;
  }

  &.square {
    width: 28px;
  }
}
.lgBage {
  height: 32px;
  border-radius: var(--rounded-md);
  font-size: var(--fz-md);

  &:not(.square) {
    padding-inline: 12px;
  }

  &.square {
    width: 32px;
  }
}

.blueBage {
  background-color: var(--blue-muted);
  color: var(--blue);
}
.violetBage {
  background-color: var(--violet-muted);
  color: var(--violet);
}
.orangeBage {
  background-color: var(--orange-muted);
  color: var(--orange);
}
.greenBage {
  background-color: var(--green-muted);
  color: var(--green);
}
.yellowBage {
  background-color: var(--yellow-muted);
  color: var(--yellow);
}
.greyBage {
  background-color: var(--grey-muted);
  color: var(--grey);
}
.whiteBage {
  background-color: var(--primary);
  color: var(--foreground-secondary);
}
