.registerForm {
  width: 380px;
}
.registerFormInner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.registerFormFields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.registerFormRow {
  display: flex;
  gap: 8px;
}
