.kanbanNewTask {
  padding: 8px;
  border-radius: 6px;
  background-color: var(--background-secondary);
}
.kanbanNewTaskInner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.kanbanNewTaskProperties {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border);
}
.kanbanNewTaskFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.kanbanNewTaskActions {
  display: flex;
  align-items: center;
  gap: 4px;
}
