.sonner {
  &[data-sonner-toaster] {
    font-family: var(--font-family);

    &[data-sonner-theme='dark'],
    &[data-sonner-theme='light'] {
      --success-bg: #14532d;
      --success-text: #f4f4f5;
      --success-border: #166534;

      --error-bg: #450a0a;
      --error-text: #f4f4f5;
      --error-border: #7f1d1d;

      --warning-bg: #a16207;
      --warning-text: #f4f4f5;
      --warning-border: #ca8a04;
    }
  }

  & [data-sonner-toast][data-styled='true'] {
    font-size: 14px;
    gap: 6px;

    & [data-title] {
      font-weight: 400;
    }
  }
}
