.sidebarProjectLinkWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 32px;
  padding-inline: 8px;
  transition: var(--transition-15);
  border-radius: var(--rounded-md);

  &:hover,
  &:focus-visible {
    background-color: var(--secondary);
  }

  &:hover .sidebarProjectButton,
  &:focus-visible .sidebarProjectButton {
    display: flex;
  }
}
.sidebarProjectLink {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  height: 100%;
  overflow: hidden;

  & span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.sidebarProjectButton {
  // display: none;
  flex-shrink: 0;
}
