.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 240px;
  height: 100vh;
  border-right: 1px solid var(--border);
  background-color: var(--background-secondary);
}
.sidebarFooter {
  margin-top: auto;
}
