.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-15);
}

.xsActionButton {
  height: 20px;
  width: 20px;
  border-radius: var(--rounded-sm);
}
.smActionButton {
  height: 24px;
  width: 24px;
  border-radius: var(--rounded-sm);
}
.mdActionButton {
  height: 28px;
  width: 28px;
  border-radius: var(--rounded-md);
}
.lgActionButton {
  height: 32px;
  width: 32px;
  border-radius: var(--rounded-md);
}

.primaryActionButton {
  background-color: var(--primary);
  color: var(--foreground-secondary);
}
.secondaryActionButton {
  background-color: var(--secondary);

  &:hover,
  &:focus-visible {
    background-color: var(--secondary-accent);
  }
}
.ghostActionButton {
  &:hover,
  &:focus-visible {
    background-color: var(--secondary);
  }

  &[data-state='open'][aria-haspopup='menu'] {
    background-color: var(--secondary);
    display: flex !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}
.outlineActionButton {
  border: 1px solid var(--border);
}
.dangerActionButton {
  background-color: var(--danger-background);
  color: var(--danger-foreground);

  &:hover,
  &:focus-visible {
    background-color: var(--danger-background-muted);
  }
}
