.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-15);
}

.xsActionButton {
  height: 20px;
  width: 20px;
  border-radius: var(--rounded-sm);
}
.smActionButton {
  height: 24px;
  width: 24px;
  border-radius: var(--rounded-sm);
}
.mdActionButton {
  height: 28px;
  width: 28px;
  border-radius: var(--rounded-md);
}
.lgActionButton {
  height: 32px;
  width: 32px;
  border-radius: var(--rounded-md);
}

.ghostActionButton {
  &:hover,
  &:focus-visible {
    background-color: var(--secondary);
  }

  &[data-state='open'][aria-haspopup='menu'] {
    background-color: var(--secondary);
    display: flex !important;
  }
}
