.sidebarLink {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 8px;
  height: 32px;
  transition: var(--transition-15);
  border-radius: var(--rounded-md);
  // font-weight: 500;
}
.sidebarLink:hover,
.sidebarLink:focus-visible {
  background-color: var(--secondary);
}
.sidebarLink.active {
  background-color: var(--primary);
  color: var(--foreground-secondary);
}
