.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid var(--border);
  background-color: var(--background-secondary);
  border-radius: 12px;
  animation: fadeIn 0.15s ease-in-out;
}
.smDialog {
  width: 320px;
}
.mdDialog {
  width: 400px;
}
.lgDialog {
  width: 800px;
}

.dialogOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  animation: fadeIn 0.15s ease-in-out;
}
.dialogTitle {
  font-size: 16px;
}
.dialogDescription {
  font-size: 14px;
  color: var(--muted);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
