.kanbanTask {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-block: 12px;
  border: 1px solid var(--background-secondary);
  border-radius: 6px;
  background-color: var(--background-secondary);
  transition: border-color var(--transition-15);
  cursor: pointer;

  &:hover {
    border-color: var(--border);
  }
}
.kanbanTask[data-dnd-placeholder] {
  opacity: 0.5;
}
