.loginFormInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.loginFormFields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.loginFormPasswordField {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
