.sidebarProjectsHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 8px;
  height: 32px;
  border-radius: var(--rounded-md);
  transition: var(--transition-15);
  margin-bottom: 4px;
}
.sidebarProjectsHeadActions {
  display: flex;
  gap: 4px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-15);
}
