.calendar {
  --space: 4px;

  padding: var(--space);
  width: max-content;
  border: 1px solid var(--border);
  border-radius: var(--rounded-lg);
  background-color: var(--background-secondary);
}
.calendarRoot {
  position: relative;
}
.calendarMonthCaption {
  display: flex;
  align-content: center;
  padding-left: 8px;
  height: 28px;
}
.calendarMonthGrid {
  border-collapse: collapse;
  border-spacing: 4px;
}
.calendarCaption {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.calendarNav {
  position: absolute;
  top: 0;
  right: var(--space);

  display: flex;
  gap: 4px;
}
.calendarNavButton {
  width: 24px;
  height: 24px;
}
.calendarWeekday {
  font-weight: 400;
  height: 28px;
  width: 28px;
  color: var(--muted);
}
.calendarDay {
  width: 28px;
  height: 28px;

  &[data-disabled='true'] {
    opacity: 0.4;
  }
}
.calendarDayButton {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: var(--transition-15);
  font-size: var(--fz-md);
  cursor: pointer;

  user-select: none;
  --webkit-user-select: none;

  &:not([data-selected='true']):hover {
    background-color: var(--secondary);
    cursor: pointer;
  }
}
.calendarDayToday {
  color: var(--red);
}
.calendarDaySelected button {
  color: var(--foreground-secondary);
  background-color: var(--primary);
}
.calendarPresets {
  border-bottom: 1px solid var(--border);
  padding-bottom: 4px;
  margin-bottom: 8px;
}
.calendarPreset {
  justify-content: flex-start;

  & span {
    margin-left: auto;
    text-transform: capitalize;
  }
}
