@use './reset';
@use './fonts';

:root {
  --font-family: 'Geist', sans-serif;

  --background: #111111;
  --background-secondary: #161616;

  --primary: #e5e5e5;
  --secondary: #ffffff0d;

  --foreground: #f4f4f5;
  --foreground-secondary: #111111;

  --muted: #a3a3a3;

  --border: #ffffff0f;
  // --input: #ffffff07;
  --input: #1c1c1c;
  --ring: #27272a;

  --blue: #9dc7f1;
  --blue-muted: #9dc7f13b;
  --violet: #cbbbf2;
  --violet-muted: #cbbbf23b;
  --orange: #fcb5aa;
  --orange-muted: #fcb5aa3b;
  --green: #91d4a8;
  --green-muted: #91d4a83b;
  --yellow: #e9be74;
  --yellow-muted: #e9be743b;
  --grey: #bfbfc3;
  --grey-muted: #bfbfc33b;
  --red: #ff6466;

  --rounded-sm: 4px;
  --rounded-md: 6px;
  --rounded-lg: 8px;

  --fz-xs: 10px;
  --fz-sm: 12px;
  --fz-md: 14px;
  --fz-lg: 16px;

  --transition-15: 0.15s ease-in-out;
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  margin: 0;
  height: 100vh;
  background-color: var(--background);
  color: var(--foreground);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.Root {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.Column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  min-width: 175px;
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.Item {
  appearance: none;
  background: #fff;
  color: #666;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: grab;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: scale(1);
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.4),
    0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05),
    0px 1px calc(2px / var(--scale-x, 1)) 0 rgba(34, 33, 81, 0.05);
}

.Item[data-dragging='true'] {
  transform: scale(1.02);
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5),
    -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);
}
